header{
    font-size: 200px;
    color: white;
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}
html, body{
  margin: 0;
  padding: 0;
}

button{
    font-size: 30px;
    border: 1px solid black;
    color:white;
    background-color:black;
    border-radius: 3px;
}
form{
    text-align:center;
    margin:30px;
    font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: #1f2630;
  display: inline-block;
  position: fixed;
  text-align: center;
  width: 100%;
}

nav > a {
  color: #e1e8f4;
  font-size: 2em;
  padding: 30px;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
  -ms-transition:     color 0.5s;
  -o-transition:      color 0.5s;
  transition:         color 0.5s;
}

nav > a:hover {
  color: #22658e;
}


.heading {
  padding-top: 7%;
}

.hidden {
  display: none;
}
.login {
    text-align: center;
    display: block;
    width: 100%;
}

.password-reset {
  color: red;
  size: 1.2em;
  text-align: center;
}
.submit{
    text-align:center;
    font-size:50px;
}

.submit-form {
  text-align: center;
}
#sunsetVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
